:root {
  --fontSize: 1.5em;
  --borderColor: rgb(230, 230, 230);
}

#latex {
  outline: none;
  border: 1px solid var(--borderColor);
}

main {
  border: 1px solid var(--borderColor);
  flex-grow: 1;
}

body {
  display: flex;
}

.MathJax {
  font-size: var(--fontSize);
}

.hidden {
  display: none;
}

#latexForm {
  position: relative;
  min-width: 1.2em;
}

#collapse,
#color {
  background-color: var(--borderColor);
  padding: 0 6px 2px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  border: 1px solid white;
  transition: all 1s;
  margin-bottom: 12px;
}

#color {
  right: 36px;
  outline: none;
  background-color: inherit;
  border: none;
}

#collapse:hover,
#collapse:focus {
  background-color: white;
  border: 1px solid var(--borderColor);
}
