*{
	margin: 0;
	padding: 0;
	outline: none;
	text-align: center;
	font-family: arial;
}

main{
	display: flex;
	justify-content: space-between;
	padding: 1em;
}

#menu{
	position: sticky;
	top: 0;
	background: white;
	box-shadow: 0 0.5em 0.5em -0.75em;
	z-index: 9;
	transition: all 0.5s;
}

#menu:hover{
	box-shadow: 0 0.5em 0.5em -0.5em;
}

form,
form *{
	text-align: left;
	padding: 0.1rem;
}

#menu {
	padding: 1em;
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: rgb(25,25,125);
}

#previewDoc{
	display: flex;
	align-items: center;
}

#previewDoc select {
	border: 1px solid rgb(125,75,125);
	color: rgb(25,25,125);
	font-size: 1.025rem;
	border-radius: 0.5rem;
	cursor: pointer;
}

#firmType span{
	border: 1px solid rgb(125,75,125);
	border-radius: 0.5rem;
	padding: 0.125em 0.25em;
}

#firmType span:first-child{
	border-right: none;
	border-radius: 0.5rem 0 0 0.5rem;
}

#firmType span:last-child{
	border-radius: 0 0.5rem 0.5rem 0;
}

#firmType input,
#firmType label{
	cursor: pointer;
}

#userForm{
	color: rgb(25,25,125);
	padding: 1em;
	box-shadow: 0.1em 0.05em 0.75em -0.3em;
	border-radius: 0.75rem;
}

#userForm input,
#userForm textarea{
	display: block;
	margin-bottom: 1em;
	width: 30em;
	border: 1px solid rgb(125,75,125);
	border-radius: 0.25rem;
}

#userForm textarea{
	height: 6em;
	min-height: 4em;
	min-width: 30em;
	max-height: 12em;
	max-width: 30em;
}

#btnContainer{
	color: rgb(25,25,125);
	position: sticky;
	bottom: 0;
	background: white;
	padding: 1em 0em;
	margin: 0 -1em;
	display: flex;
	justify-content: flex-end;
	box-shadow:0 -0.5em 0.5em -0.5em rgb(150,150,175);
	border-radius: 1rem;
}

#btnContainer button{
	color: rgb(25,25,125);
	border: none;
	background: none;
	border-radius: 0.5rem;
	box-shadow: 0 0.05em 0.2em gray;
	cursor: pointer;
	margin: 0 0.25em;
	width: 4rem;
	text-align: center;
	font-size: 1.05em;
	transition: all 0.25s;
}

#btnContainer button:hover{
	box-shadow: 0 0.05em 0.25em;
	color: rgb(125,25,25);
}

#btnContainer button:active{
	box-shadow: 0 0.05em 0.25em;
	color: rgb(25,125,25);
}

.required{
	border:1px solid red !important;
}

#livePreview{
	padding: 0 1rem 0 5rem;
	min-width: 0;
}

@media (max-width: 768px){
	*{
		font-size: 1.025rem;
	}
	
	main{
		padding: 0;
		flex-direction: column;
	}
	
	#menu{
		flex-direction: column;
	}
	
	#firmType{
		padding-bottom: 0.5em;
	}

	
	#userForm input,
	#userForm textarea{
		display: block;
		margin-bottom: 1em;
		width: 90%;
	}

	#userForm textarea{
		height: 6em;
		min-height: 4em;
		min-width: 5em;
		max-height: 12em;
		max-width: 98%;
	}
	
	#btnContainer{
		position: fixed;
		width: 100%;
	}
	
	#btnContainer button{
		width: 4rem;
	}
	
	#livePreview{
		padding: 0.25em;
	}
}

@page{
	size: A4;
	margin: 0.5in 0.25in;
}

@media print{
	#userForm,
	#menu{
		display: none;
	}
}